<link rel="stylesheet" href"app/assets/stylesheets/users.scss">

<div class="tanaka">
  <h1><%= @user.name %>のページ</h1>
  <% if current_user.id == @user.id %>
    <%= link_to "編集する", edit_user_registration_path %>
  <% end %>
</div>

<%= @user.profile %>

<div class="usermypage">
    <div class="photo2">
      <%= image_tag @user.image_url, size: "250x200" if @user.image? %>
    </div>

    <div class="user-in">
      <% if @user.id == current_user.id %>
          <%= @msg %>
      <% else %>
          <% if @isRoom == true %>
              <p> 
                <i class="fa-regular fa-comments"></i>
                <%= link_to 'DMページへ', room_path(@roomId) %>
              </p>
          <% else %>
              <%= form_for @room do |f| %>
                  <%= fields_for @entry do |e|%>
                      <% e.hidden_field :user_id, value: @user.id %>
                  <% end %>
              <i class="fa-regular fa-comments"></i><%= f.submit "DMページへ"%>
              <% end %>
          <% end %>
      <% end %>
      <%= render 'relationships/follow_button', user: @user %>
    </div>
</div>

<div class="mypage">
  <h2><%= @user.name %>の投稿</h2>
  <div class="aki">
    <% @user.posts.each do |t| %>
      <div class="post">
        <%= image_tag t.image_url, class: 'postimg' if t.image? %><br>

        <%= t.shop_name %><br>
        <%= link_to t.user.name, user_path(t.user.id) %><br>
      
        <% if user_signed_in? %><br>
        <% if current_user.already_liked?(t) %>
            <%= link_to post_like_path(id: t.id, post_id: t.id), method: :delete do %>
              <i class="fas fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% else %>
            <%= link_to post_likes_path(id: t.id, post_id: t.id), method: :post do %>
              <i class="far fa-heart"></i><%= t.likes.count %>
            <% end %>
        <% end %>
        <% else %>
        <i class="far fa-heart"></i><%= t.likes.count %>
        <% end %><br>

        <%= link_to "詳細へ", post_path(t.id) %>

        <% if user_signed_in? && current_user.id == t.user_id %>
        <%= link_to "編集する", edit_post_path(t.id) %>
        <%= link_to "削除する", post_path(t.id), method: :delete %>
        <% end %> 
      </div>
    <% end %>
  </div>
</div>

<%= link_to "Tweet一覧に戻る", posts_path %>